In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
my_data = randn(4, 3) # Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [5]:
# Create Dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A -0.506651 -0.332934 -0.906764
B  1.595411  0.995695  1.476775
C  0.016782 -0.708028  0.009731
D -0.704161  0.327915 -1.186778

In [7]:
# importing external (csv file)
my_df2 = pd.read_csv("dog_data.csv")
my_df2

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [9]:
# Pull out rows
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [10]:
# Pull out multiple rows
my_df2.loc[[1, 6, 8]]

               Breed        Color            DogName  OwnerZip
1       GER SHEPHERD  BLACK/BROWN             TACODA     15238
6  YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
8  SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [13]:
# Grab first 5 rows
my_df2.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [14]:
# Grab certain number of first rows
my_df2.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [16]:
# Grab last five and certain number of rows
my_df2.tail()

                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [17]:
my_df2.tail(11)

                   Breed              Color        DogName  OwnerZip
2659    BISHON FRISE MIX        WHITE/BLACK         COOKIE     15146
2660              PUGGLE              BROWN           MACY     15044
2661     ENGLISH MASTIFF               FAWN          MARGE     15143
2662          WEIMARANER               GREY          BELLA     15102
2663  LABRADOR RETRIEVER              BROWN           NINO     15102
2664  COCKER SPANIEL MIX        WHITE/BLACK           JACK     15102
2665        GOLDENDOODLE              BROWN        WINSLOW     15044
2666   YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667             LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668        GOLDENDOODLE              WHITE       CLARENCE     15143
2669   SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [18]:
# Get info about the dataframe
my_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB

In [19]:
# Get number of rows and columns
my_df2.shape

(2670, 4)

In [21]:
# Get only data types of the columns
my_df2.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [24]:
# Get some statistics about the data
my_df2['Breed'].describe()

count      2670
unique      185
top       MIXED
freq        235
Name: Breed, dtype: object

In [25]:
my_df2["Color"].describe()

count      2665
unique       72
top       BLACK
freq        371
Name: Color, dtype: object