In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [5]:
# Grab row method 1 location
my_df.loc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [6]:
# method 2: using index location
my_df.iloc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

In [8]:
# specific points (row and column)
# my_df.loc('Row', 'Column')
my_df.loc[1, "DogName"]

'TACODA'

In [10]:
# for more than one specific points
# my_df.loc[[Row, Row], [Column, Column]]
my_df.loc[[1, 3], ["DogName", "Breed"]]

  DogName         Breed
1  TACODA  GER SHEPHERD
3   ARROW         MIXED